<?xml version="1.0" encoding="UTF-8"?>
<root>
    <params name="shadow" label="HTML settings" hidetitle="1">
        <param type="mixed" name="htmlposition" label="Position" default="left|*|0|*|px|*|top|*|0|*|px">
            <param type="list" label="Horizontal" mixedstyle="clear: both;" style="width:70px;" translateable="1">
                <option value="left">Left</option>
                <option value="right">Right</option>
            </param>
            <param type="text" label="position" style="width:50px;"/>
            <param type="switcher" label="unit">
                <unit value="px">px</unit>
                <unit value="%">percent</unit>
            </param>

            <param type="list" label="Vertical" mixedstyle="clear: both;" style="width:70px;" translateable="1">
                <option value="top">Top</option>
                <option value="bottom">Bottom</option>
            </param>
            <param type="text" label="position" style="width:50px;"/>
            <param type="switcher" label="unit">
                <unit value="px">px</unit>
                <unit value="%">percent</unit>
            </param>
        </param>
        <param type="textarea" name="widgethtmlcontent" label="HTML" />
    </params>
</root>
