<root>
    <params name="widgetshtml" label="" hidetitle="1">
        <param name="widgethtml" type="subpluginmatrix" label="HTML" group="nextendsliderwidgethtml" method="html" file="config.xml" default="" />
        <param type="mixed" label="Display" name="widgethtmldisplay" default="0|*|always">
            <param type="onoff" label="Enabled"/>
            <param type="radio" label="Display">
                <option value="always">Always</option>
                <option value="hover">on_Hover</option>
            </param>
        </param>
    </params>
</root>