<?xml version="1.0" encoding="UTF-8"?>
<root translate="smartslider">
    <params name="text" label="Text_settings" hidetitle="1">
        <param type="mixed" name="previousposition" label="Previous_position" default="left|*|0|*|%|*|top|*|50|*|%">
            <param type="list" label="Horizontal" mixedstyle="clear: both;" style="width:70px;" translateable="1">
                <option value="left">Left</option>
                <option value="right">Right</option>
            </param>
            <param type="text" label="position" style="width:50px;" />
            <param type="switcher" label="unit">
                <unit value="px">px</unit>
                <unit value="%">percent</unit>
            </param>

            <param type="list" label="Vertical" mixedstyle="clear: both;" style="width:70px;" translateable="1">
                <option value="top">Top</option>
                <option value="bottom">Bottom</option>
            </param>
            <param type="text" label="position" style="width:50px;" />
            <param type="switcher" label="unit">
                <unit value="px">px</unit>
                <unit value="%">percent</unit>
            </param>
        </param>
        <param type="cssimagelist" name="previous" label="Previous" folder="previous"
               prefix="nextend-arrow-text nextend-arrow-text-previous nextend-arrow-text-previous-" default="text-rounded.png">
            <![CDATA[<div class="{class}"><span>Prev</span></div>]]>
        </param>
        <param name="contentprev" type="text" label="Text" default="Prev" />    
        <param name="fontclassprev" type="fontmatrixchooser" label="Font" default="sliderfont7" />
        <param type="mixed" name="nextposition" label="Next_position" default="right|*|0|*|%|*|top|*|50|*|%">
            <param type="list" label="Horizontal" mixedstyle="clear: both;" style="width:70px;" translateable="1">
                <option value="left">Left</option>
                <option value="right">Right</option>
            </param>
            <param type="text" label="position" style="width:50px;" />
            <param type="switcher" label="unit">
                <unit value="px">px</unit>
                <unit value="%">percent</unit>
            </param>

            <param type="list" label="Vertical" mixedstyle="clear: both;" style="width:70px;" translateable="1">
                <option value="top">Top</option>
                <option value="bottom">Bottom</option>
            </param>
            <param type="text" label="position" style="width:50px;" />
            <param type="switcher" label="unit">
                <unit value="px">px</unit>
                <unit value="%">percent</unit>
            </param>
        </param>
        <param type="cssimagelist" name="next" label="Next" folder="next"
               prefix="nextend-arrow-text nextend-arrow-text-previous nextend-arrow-text-next-" default="text-rounded.png">
            <![CDATA[<div class="{class}"><span>Next</span></div>]]>
        </param>        
        <param name="contentnext" type="text" label="Text" default="Next" />        
        <param name="fontclassnext" type="fontmatrixchooser" label="Font" default="sliderfont7" />        
        <param name="arrowtextbackground" type="color" label="Background" alpha='1' default="00000060" />        
        <param name="arrowtextbackgroundhover" type="color" label="Background_hover" alpha='1' default="00000080" />
    </params>
</root>
